@font-face {
    // on définit le nom de la font-family qui sera dispo : ici Montserrat
    font-family: "Comfortaa";
    src: url("~/assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Comfortaa Medium";
    src: url("~/assets/fonts/Comfortaa-Medium.ttf");
}

@font-face {
    font-family: "Comfortaa Bold";
    src: url("~/assets/fonts/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("~/assets/fonts/Comfortaa-Light.ttf");
}